/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variables  */

:root {
    --bg-color: white;
    --text-bar-bg: #F3EEEA;
    --top-bar-bg: #EAEAEA;
    --color: black;
    --input-color: #FFFFFF;
    --notif-color: #8EDBFC;
    --bg-color-back: #DCDCD2;
    --active: #D3D3D3;
    --msg-sent: rgb(213, 249, 186);
    --msg-received: white;
    --icons-color: #BCBEC3;
    --input-color: white;
    --borders-color: #F7F4F2;
}

.dark-mode {
    --bg-color: #2C2F33;
    --text-bar-bg: #2C2F33;
    --top-bar-bg: #2C2F33;
    --color: white;
    --input-color: #282C34;
    --notif-color: rgb(184, 139, 16);
    --bg-color-back: black;
    --active: #151A21;
    --msg-sent: #346567;
    --msg-received: #272B30;
    --icons-color: #BCBEC3;
    --input-color: #363840;
    --borders-color: #363840;
}

/* COMMON */
img{
    width: 100%;
    border-radius: 50%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.small-text{
    color: #8D9396;
    font-size: 15px
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* STRUCTURE */

#app-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--bg-color-back);
}

.bg-bar{
    background-color: #009588;
    height: 200px; 
}

#main-wrapper{
    width: 90%;
    min-width: 1100px;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar{
    width: 30%;
    float: left;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

main{
    width: 70%;
    height: 100%;
    float: left;
}

.chat-area{
    height: calc(100% - 100px - 100px);
    width: 100%;
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    overflow: auto;

}

.text-bar{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: var(--text-bar-bg);
    align-items: center;
    justify-content: space-between;
    padding: 7px 35px;
}

.top-bar{
    display: flex;
    height: 100px;
    background-color: var(--top-bar-bg);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* top bar  */

.user-info{
    display: flex;
    align-items: center;
}

.top-avatar{
    width: 70px;
}

.top-name{
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.action-icons{
    color: #B1B1B1;
    font-size: 20px;
}

.action-icons span{
    padding-left: 15px;
}

/* notifications bar  */

.notifications{
    height: 110px;
    background-color: var(--notif-color);
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.notif-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    color: var(--notif-color);
    font-size: 30px;
    position: relative;
}

.notif-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notif-change{
    color: grey;
    font-size: 15px;
}

.notif-text{
    padding-left: 10px;
}

/* search input  */
.search-input{
    height: 50px;
    background-color: var(--text-bar-color);
    padding: 7px;
}

.search-input input{
    height: 100%;
    width: 100%;
    border: 1px solid var(--borders-color);
    padding-left: 10px;
    position: relative;
    background-color: var(--input-color);
}


/* contacts  */

.contacts-nav{
    background-color: var(--bg-color);
    overflow: auto;
}

.contacts{
    list-style-type: none;
    flex-grow: 1;
}

.contact{
    border-bottom: 1px solid var(--borders-color);
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: var(--bg-color);
}

.active{
    background-color: var(--active);
}

.contact-avatar{
    width: 80px;
}

.contact-name{
    padding-left: 20px;
    font-weight: 700;
    font-size: 23px;
}


.current-contact{
    padding-left: 20px;
}

.current-name{
    font-size: 20px;
    font-weight: 700;
}

.lastMsg{
    color: #BABCBE;
    font-size: 15px;
    padding-left: 20px;
}

.lastMsgDate{
    color: #BABCBE;
    font-size: 13px;
    position: absolute;
    top: 7px;
    right: 7px;
}

/* text bar  */

.smile-icon,
.mic-icon{
    color: #6A7376;
    font-size: 30px;
}

.chat-input{
    flex-grow: 1;
    padding: 0 35px;
}

.chat-input input{
    width: 100%;
    padding: 20px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 5px;
    background-color: var(--input-color);
}

/* chat area  */
.chat-container{
    padding: 40px;
    width: 100%;
}

.message{
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    margin-top: 20px;
    position: relative;
    clear: both;
}

.message-container{
    width: 100%;
}

.message-received{
    float: left;
    background-color: var(--msg-received);
}

.message-sent{
    background-color: var(--msg-sent);
    float: right;
}


.message-time{
    font-size: 10px;
    color: #BBC3BB; 
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.dropdown{
    text-align: right;
    position: absolute;
    bottom: -130%;
    right: 0;
    background-color: white; 
    box-shadow: 1px 3px 10px 5px rgba(0,0,0,0.2);;
    padding: 20px;
    z-index: 1;
}

.del-message{
    cursor: pointer;
}

.chevron{
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 30%;
    color: #6A7376;
    display: none;
}

.message:hover .chevron{
    display: block;
}


/* theme switch  */

.theme-switch{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #6A7376;
    display: flex;
    align-items: center;
}

.theme-switch span{
    font-size: 20px;
    padding-left: 10px;
}