/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img{
    width: 100%;
    border-radius: 50%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.small-text{
    color: #8D9396;
    font-size: 15px
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* STRUCTURE */

#app-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #DCDCD2;
}

.bg-bar{
    background-color: #009588;
    height: 200px; 
}

#main-wrapper{
    width: 90%;
    min-width: 1100px;
    height: 95%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar{
    width: 30%;
    float: left;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main{
    width: 70%;
    height: 100%;
    float: left;
}

.chat-area{
    height: calc(100% - 100px - 100px);
    width: 100%;
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    overflow: auto;

}

.text-bar{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #F3EEEA;
    align-items: center;
    justify-content: space-between;
    padding: 7px 35px;
}

.top-bar{
    display: flex;
    height: 100px;
    background-color: #EAEAEA;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* top bar  */

.user-info{
    display: flex;
    align-items: center;
}

.top-avatar{
    width: 70px;
}

.top-name{
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.action-icons{
    color: #B1B1B1;
    font-size: 20px;
}

.action-icons span{
    padding-left: 15px;
}

/* notifications bar  */

.notifications{
    height: 110px;
    background-color: #8EDBFC;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.notif-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    color: #8EDBFC;
    font-size: 30px;
    position: relative;
}

.notif-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notif-change{
    color: grey;
    font-size: 15px;
}

.notif-text{
    padding-left: 10px;
}

/* search input  */
.search-input{
    height: 50px;
    background-color: #FAFAFA;
    padding: 7px;
}

.search-input input{
    height: 100%;
    width: 100%;
    border: 1px solid #F9F9F9;
    padding-left: 10px;
    position: relative;
}

/* .search-input input:before {
    font-family: 'FontAwesome';
    color: #B1B1B1;
    content: "\f002";
    position: absolute;
    left: 10px;
} */

/* contacts  */

.contacts-nav{
    background-color: white;
    overflow: auto;
}

.contacts{
    list-style-type: none;
    flex-grow: 1;
}

.contact{
    border-bottom: 1px solid #E9ECEB;
    display: flex;
    align-items: center;
    padding: 10px;
}

.active{
    background-color: lightgray;
}

.contact-avatar{
    width: 80px;
}

.contact-name{
    padding-left: 20px;
    font-weight: 700;
    font-size: 23px;
}


.current-contact{
    padding-left: 20px;
}

.current-name{
    font-size: 20px;
    font-weight: 700;
}

/* text bar  */

.smile-icon,
.mic-icon{
    color: #6A7376;
    font-size: 30px;
}

.chat-input{
    flex-grow: 1;
    padding: 0 35px;
}

.chat-input input{
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #F7F4F2;
    border-radius: 5px;
}

/* chat area  */
.chat-container{
    padding: 40px;
    width: 100%;
}

.message{
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    margin-top: 10px;
    position: relative;
    clear: both;
}

.message-container{
    width: 100%;
}

.message-recieved{
    float: left;
}

.message-sent{
    background-color: #D5F9BA;
    float: right;
}


.message-time{
    font-size: 10px;
    color: #BBC3BB; 
    position: absolute;
    bottom: 5px;
    right: 5px;
}
